<%= form_for @location do |f| %>
<table>
	<tr>
		
		<td><%= f.text_field :address, :placeholder => "Where does yo momma live?"%>
			
	<tr><td><%= f.submit "Enter Location" %></td></tr>

</table>

<% end %>
