<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title></title>
	</head>
	
	<body>
			<div id="address"><%=render 'form'%></div>
				
		<div class="text">
			
			
			
				<h1>what does yo momma like?</h1>
				<h2>(check all that apply)</h2>
		<ul class="left">
			<li><input type="checkbox" value="nester">Home Goods</li>
			<li><input type="checkbox" value="healthy living">Healthy Living</li>
			<li><input type="checkbox" value="gadgets gear">Gadgets</li>
			<li><input type="checkbox" value="audiophile">Music</li>
			<li><input type="checkbox" value="cultural pursuits">Cultural Pursuits</li>
			<li><input type="checkbox" value="sporting life">Sports</li>
			<li><input type="checkbox" value="The Finer Things">The Finer Things</li>
			<li><input type="checkbox" value="Just Dance">Dancing</li>	
		</ul>
		
		<ul class="right">
			<li><input type="checkbox" value="Kitchen Couture">Kitchenware</li>
			<li><input type="checkbox" value="Fountain of Youth">Beauty Treatments</li>
			<li><input type="checkbox" value="Home Improvement">Home Improvement</li>
			<li><input type="checkbox" value="Threads">Clothes</li>
			<li><input type="checkbox" value="pampered">Being Pampered</li>
			<li><input type="checkbox" value="well-groomed">Spa Treatments</li>
			<li><input type="checkbox" value="photographic">Photography</li>
			<li><input type="checkbox" value="Girls Night Out">Going Out on the Town</li>
		</ul>
			</div>
			

			
			
			
			
	</body>
</html>
