<!DOCTYPE html>
<html>
<head>
  <title>MamaDayDeal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrap">
	<div id="page">
		<div id="header">
	<a href="/"><img src="http://i.imgur.com/2ZZlz.png" alt="" title="logo" /></a>
	<a href="http://groupon.com"><img class="groupon" src="http://i.imgur.com/ETtzN.gif" alt="" title="powered by groupon" /></a>
			</div>

<%= yield %>

</body>
</html>
